.nav {
    grid-area: n;
    background-color: #D2D7D3;
    padding: 20px;
    /*border: 1px solid steelblue;
    border-radius: 8px;*/
}

.item a, .itemFriends a {
    color: steelblue;
    text-decoration: none;
}

.item a.activeLink {
    color: darkblue;
}

.itemFriends {
    margin-top: 40px;
    font-size: 18px;
}
