.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: white;
    border-radius: 8px;
    margin-right: 7px;
    margin-top: 7px;
    padding: 10px;
}

/*.dialogsItems a{
    text-decoration: none;
    color: black;
}*/

.dialogsItems .active {
    background-color: rgba(61, 114, 156, 0.48);
}

.dialog {
    margin-bottom: 4px;
    margin-left: 14px;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
}

.dialog a {
    text-decoration: none;
    color: black;
}

/*.dialog a.activeDialog {
    text-decoration: none;
    color: black;
}*/

.dialogsItems {
    margin-right: 10px;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   /* display: block;*/
    /*  text-align: justify;*/
}

.messageI {
    align-self: flex-start;
    background-color: #D2D7D3;
    border-radius: 8px;
    padding: 4px
   /* display: inline-block;
    justify-content: flex-start;
    background-color: #D2D7D3;
    border-radius: 8px;
    padding: 4px;*/
    /*text-align: left;
    background-color: #D2D7D3;
    border-radius: 8px;
    padding: 3px;
    display: block;*/
}

.messageOther {
    align-self: flex-end;
    border: 1px solid #a1a6a2;
    border-radius: 8px;
    padding: 4px;
   /* display: inline-block;
    justify-content: flex-start;
    border: 1px solid #a1a6a2;
    border-radius: 8px;
    padding: 4px;*/
    /*text-align: right;
    border: 1px solid #a1a6a2;
    border-radius: 8px;
    padding: 4px;
    display: block;*/
    /*right: 0 !important;*/
    /*text-align: right;
    border: 1px solid #a1a6a2;
    border-radius: 8px;
    padding: 4px;
    width: auto;*/
}