.app-wrapper {
  margin: 10px;
  display: grid;
  width: 1200px;
  height: 100vh;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  border: 1px solid steelblue;
  }
.app-wrapper-content {
  grid-area: c;
  background-color: #D2D7D3;
  font-family: "Times New Roman";
}
/*
.newPost {
  border: 1px solid steelblue;
  box-shadow: 4px 4px 2px 0px rgba(19, 127, 156, 0.2);
  width: 80%;
  min-height: 80px;
  border-radius: 3px;
}
.button {
  color: #283452;
  background-color: rgba(62, 77, 110, 0.4);
  border-radius: 3px;
}*/
